@font-face {
  font-family: "nine9"; /* Project id 3598601 */
  src: url('https://storage.szline9.com/frontend/font-css/applet/iconfont.woff2?t=1715411881276') format('woff2'),
       url('https://storage.szline9.com/frontend/font-css/applet/iconfont.woff?t=1715411881276') format('woff'),
       url('https://storage.szline9.com/frontend/font-css/applet/iconfont.ttf?t=1715411881276') format('truetype'),
       url('https://storage.szline9.com/frontend/font-css/applet/iconfont.svg?t=1715411881276#nine9') format('svg');
}

.nine9 {
  font-family: "nine9" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nine9-a-buzhouyi1x:before {
  content: "\e660";
}

.nine9-a-buzhouer1x:before {
  content: "\e661";
}

.nine9-a-buzhousan1x:before {
  content: "\e662";
}

.nine9-a-zu14356:before {
  content: "\e65f";
}

.nine9-a-zu12745:before {
  content: "\e65e";
}

.nine9-a-zu14123:before {
  content: "\e65d";
}

.nine9-a-lujing21:before {
  content: "\e65c";
}

.nine9-lujing2:before {
  content: "\e65a";
}

.nine9-a-lujing11:before {
  content: "\e65b";
}

.nine9-chimatubiao:before {
  content: "\e62d";
}

.nine9-a-zu13427:before {
  content: "\e659";
}

.nine9-a-zu12874:before {
  content: "\e658";
}

.nine9-hot:before {
  content: "\e60b";
}

.nine9-jinrikaituan:before {
  content: "\e656";
}

.nine9-a-zu12838:before {
  content: "\e654";
}

.nine9-jingxuan-xuanzhong:before {
  content: "\e62f";
}

.nine9-a-guanbixiao1:before {
  content: "\e652";
}

.nine9-lujing1:before {
  content: "\e651";
}

.nine9-a-lujing2:before {
  content: "\e650";
}

.nine9-a-zu11364:before {
  content: "\e64f";
}

.nine9-shanchu:before {
  content: "\e649";
}

.nine9-jiangtuanjianjie:before {
  content: "\e62b";
}

.nine9-a-zu12469:before {
  content: "\e644";
}

.nine9-lujing:before {
  content: "\e63d";
}

.nine9-a-lujing1:before {
  content: "\e63c";
}

.nine9-a-lianji7:before {
  content: "\e635";
}

.nine9-Success-Small:before {
  content: "\e607";
}

.nine9-guanbi2:before {
  content: "\e725";
}

.nine9-huojian:before {
  content: "\e67b";
}

.nine9-a-kefu5:before {
  content: "\e60c";
}

.nine9-a-lujing10126:before {
  content: "\e608";
}

.nine9-huidaodingbu:before {
  content: "\e62c";
}

.nine9-fenxiang1:before {
  content: "\e625";
}

.nine9-guanbi:before {
  content: "\e663";
}

.nine9-fuxuanweicheckbox:before {
  content: "\e7c1";
}

.nine9-ERP_tihuoxinxi:before {
  content: "\e627";
}

.nine9-kucunguanli:before {
  content: "\e628";
}

.nine9-shuoming:before {
  content: "\e629";
}

.nine9-a-xuanze1:before {
  content: "\e62a";
}

.nine9-a-daohangdizhi3:before {
  content: "\e626";
}

.nine9-a-zu8962:before {
  content: "\e624";
}

.nine9-a-lishijilu1:before {
  content: "\e622";
}

.nine9-lianxi:before {
  content: "\e623";
}

.nine9-zhongping:before {
  content: "\e620";
}

.nine9-chaping:before {
  content: "\e621";
}

.nine9-haoping:before {
  content: "\e61f";
}

.nine9-a-qiandai1:before {
  content: "\e61e";
}

.nine9-qiandai1:before {
  content: "\e665";
}

.nine9-xiangshang:before {
  content: "\e602";
}

.nine9-xiangxia:before {
  content: "\e606";
}

.nine9-shaixuan:before {
  content: "\e641";
}

.nine9-bianji:before {
  content: "\e61d";
}

.nine9-weixin:before {
  content: "\e600";
}

.nine9-jiantou_qiehuanyou_o:before {
  content: "\e61c";
}

.nine9-lianxikefu:before {
  content: "\e668";
}

.nine9-fenxiang:before {
  content: "\e8b0";
}

.nine9-a-erweima1:before {
  content: "\e61b";
}

.nine9-a-zu7001:before {
  content: "\e619";
}

.nine9-a-zu7002:before {
  content: "\e61a";
}

.nine9-kongxinwenhao:before {
  content: "\ed19";
}

.nine9-igw-f-copy:before {
  content: "\e616";
}

.nine9-daifahuo:before {
  content: "\e60d";
}

.nine9-a-31daipingjia:before {
  content: "\e60e";
}

.nine9-a-31daishouhuo:before {
  content: "\e60f";
}

.nine9-huo:before {
  content: "\e610";
}

.nine9-daifukuan:before {
  content: "\e611";
}

.nine9-a-shijian2:before {
  content: "\e612";
}

.nine9-shoucang:before {
  content: "\e613";
}

.nine9-qiandai:before {
  content: "\e614";
}

.nine9-a-tuikuan1:before {
  content: "\e615";
}

.nine9-a-zu6508:before {
  content: "\e617";
}

.nine9-return_icon_normal:before {
  content: "\e618";
}

.nine9-xiangyou3:before {
  content: "\e778";
}

.nine9-dianpu:before {
  content: "\e60a";
}

.nine9-fanhui:before {
  content: "\e609";
}

.nine9-a-zu7004:before {
  content: "\e603";
}

.nine9-a-zu7008:before {
  content: "\e604";
}

.nine9-a-zu7006:before {
  content: "\e605";
}

.nine9-tixian:before {
  content: "\e601";
}

